

/* Show it is fixed to the top */
/* body { 
    min-height: 75rem;
    padding-top: 4.5rem; 
     overflow-x: hidden;
  } */

nav {
    border-bottom: 2px solid black;
    
}

 

  .divider1 {
  
    border-bottom: gray 2px solid;
    width: 50%;
   margin: auto;
  }

  .divider2 {
  
    border-bottom: gray 3px solid;
    width: 50%;
    margin: auto;

  }

  .grid-container {
    display: grid;
    grid-template-columns: .4fr .4fr .4fr .4fr;
    grid-template-rows: .7fr .7fr .7fr;
    gap: 0px 0px;
    grid-template-areas: "img1 img2 img2 img3" "img4 img2 img2 img5" "img6 img6 img7 img8";
    }
    
    .grid-item1 { grid-area: img1; }
    .grid-item2 { grid-area: img2; }
    .grid-item3 { grid-area: img3; }
    .grid-item4 { grid-area: img4; }
    .grid-item5 { grid-area: img5; }
    .grid-item6 { grid-area: img6; }
    .grid-item7 { grid-area: img7; }
    .grid-item8 { grid-area: img8; }


    .work-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  /* Index page flexbox css */

  /* .row {
    display: flex;
    flex-wrap: wrap;
    
  } */
  
  /* Create 3 equal columns that sits next to each other */
  /* .column {
    flex: 33%;
    max-width: 33%;
  
  } */
  

  
  /* Responsive layout - makes a 2 column-layout */
  @media screen and (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
    }

    .grid-item1 { grid-area: img1; }
    .grid-item2 { grid-area: img2; }
    .grid-item3 { grid-area: img3; }
    .grid-item4 { grid-area: img4; }
    .grid-item5 { grid-area: img5; }
    .grid-item6 { grid-area: img6; }
    .grid-item7 { grid-area: img7; }
    .grid-item8 { grid-area: img8; }
  }
  
  /* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
    }
    .grid-item1 { grid-area: img1; }
    .grid-item2 { grid-area: img2; }
    .grid-item3 { grid-area: img3; }
    .grid-item4 { grid-area: img4; }
    .grid-item5 { grid-area: img5; }
    .grid-item6 { grid-area: img6; }
    .grid-item7 { grid-area: img7; }
    .grid-item8 { grid-area: img8; }
  }

  /* Index page CSS grid end */



  /* CSS for About page */

  .about-me {
    padding-top:50px;
    display: flex;
  }

  .about-text {
    padding-left: 10%;
    padding-right: 10%;
  }
  .about-me p {
    text-align: justify;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  hr {
    background-color: #333;
  }

  .rectangles-overlay {
    padding-left: 20%;
    padding-right: 20%;
  }

  .group1 {
    position: relative;
  }

  #rec1 {
    border: white 2px solid;
    height:600px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;

  }

  #about-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 9;
    margin: 30px;
  }

  #rec2 {
    border: white 2px solid;
    height:600px;
    width: 500px;
    position: absolute;
    z-index: 9;
    margin: 70px;
  }


  .group2 {
    position: relative;
  }

  .contact-container{
    padding-top: 200px;
  }
  #rec3 {
   
    border: white 2px solid;
    height:600px;
    width: 500px;
    z-index: 9;
    position: absolute;

  }
  #rec4 {
    border: white 2px solid;
    height:600px;
    width: 500px;
    position: absolute;
  }
  
  /* Create 2 equal columns that sits next to each other */
  .about-me .column {
    flex: 50%;
    max-width: 50%;
  
  }
  .about-me .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* Responsive layout - for about columns */
  @media screen and (max-width: 800px) {
    .about-me > .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .about-me > .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "bio-photo bio";
  }
  
  .bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "heading" "bio-text" "resume-bttn" "linkedin-bttn";
    grid-area: bio;
  }
  
  .heading { grid-area: heading; }
  
  .bio-text { grid-area: bio-text; }
  
  .resume-bttn { grid-area: resume-bttn; }
  
  .linkedin-bttn { grid-area: linkedin-bttn; }
  
  .bio-photo { grid-area: bio-photo; } */