

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    overflow-x: hidden;
  }

nav {
    border-bottom: 2px solid black;
    
}

/* Hamburger menu css */
.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* Hamburger css end */

  /* Index page flexbox css */

  .row {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  /* Create 3 equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
  
  }
  
  .work-img {
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a 2 column-layout instead of 3 columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* Index page Flexbox css end */



  /* CSS for About page */

  .about-me {
    padding-top:50px;
    display: flex;
  }

  .about-text {
    padding-left: 10%;
    padding-right: 10%;
  }
  .about-me p {
    text-align: justify;
  }

  hr {
    background-color: #333;
  }

  .rectangles-overlay {
    padding-left: 10%;
    padding-right: 10%;
  }

  .group1 {
    position: relative;
  }

  #rec1 {
    border: white 2px solid;
    height:500px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;

  }

  #about-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 9;
    margin: 30px;
  }

  #rec2 {
    border: white 2px solid;
    height:500px;
    width: 350px;
    position: absolute;
    z-index: 9;
    margin: 50px;
  }


  .group2 {
    position: relative;
  }

  #rec3 {
   
    border: white 2px solid;
    height:500px;
    width: 200px;
    position: absolute;

  }
  #rec4 {
    border: white 2px solid;
    height:500px;
    width: 200px;
    position: absolute;
  }
  
  /* Create 2 equal columns that sits next to each other */
  .about-me .column {
    flex: 50%;
    max-width: 50%;
  
  }
  .about-me .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* Responsive layout - for about columns */
  @media screen and (max-width: 800px) {
    .about-me > .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the 2 columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .about-me > .column {
      flex: 100%;
      max-width: 100%;
    }
  }